.product__card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 60px) / 4);
}

.product__card:hover .product__card-image img {
  transform: scale(1);
}

.product__card .product__card-image {
  width: 100%;
  aspect-ratio: 1;
  padding: 10px 15px;
  border: 2px solid var(--primary__color);
  border-bottom: none;
  background: #fff;
  overflow: hidden;
}

.product__card .product__card-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  transform: scale(0.9);
}

.product__card .product__card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #fff;
  padding: 10px 16px;
  background: var(--card__color);
}

.product__card .product__card-body h3 {
  color: var(--primary__color);
}

.product__card .product__card-body p {
  margin-top: 10px;
  font-size: 12px;
}

.product__card .product__card-body .product__card-body-price {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 15px;
}