:root {
  --primary__color: #ffbb00;
  --blue__color: rgb(21, 32, 61);
  --light_blue__color: #a09dc0;
  --bg__color: rgba(242, 243, 248, .5);
  --card__color: #213464;

  --header__height: 55px;
  --footer__height: 40px;
  --nav__width: 182px;
}